*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: AlphaSans,sans-serif!important;
  text-decoration: none;
}

.header{
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid var(--outline);
  background-color: gray;
  /*background-color: var(--background);*/
  z-index: 2;
}

.container{
  width: 100%;
  max-width: 69.2rem;
  height: inherit;
  margin: 0 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float:left;
}

.wrapper .clickable-layer{
  width: 8rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 3rem;
  background-color: var(--primary);
  font-size: 1.5rem;
  color: var(--on-primary);
  border-radius: 4px;
  float:right;
}

.clickable-layer:after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutral);
  border-radius: inherit;
}