#header {
    width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  /*background-color: var(--background);*/
  z-index: 2;
  }
  
  #header .header_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #header a {
    text-decoration: none;
    color: white;
  }

  #header .header_container .Logo {
    
  }

  #header .header_container .link_container{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width:100%;
  }
  #header .header_container .link_container a{
    margin-right: 5%;
  }