@font-face {
    font-family: "MaplestoryOTFBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: MaplestoryOTFBold, AlphaSans, sans-serif !important;
    text-decoration: none;
  }

  #profile_content_container{
    width: 100%;
    margin-top: 5%;
    background-color: black;
    color: white;
  }
  #profile_content_container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #profile_content_container img{
    width: 90%;
  }
  #profile_content_container .profileText{
    text-align: center;
  }
  #profile_content_container .profileText h2{
    margin-top: 5%;
  }
